body, html {
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

.header {
  padding: 10px 24px;
}

nav {
  background-color: #5514b4;
  margin: 0;
  padding: 0;
  height: 40px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #FFF;
}
nav ul li {
  margin: 0;
  padding: 12px 24px;
  list-style: none;
  color: #FFF;
  display: block;
  float: left;
}
nav ul li a {
  color: #FFF;
  text-decoration: none;
}